/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 févr. 2016, 13:00:01
    Author     : yoann
*/

body { padding-top: 50px; }
.cadreCV { background: white; }


/****************************************
* Entête du CV
****************************************/
#cv-entete { margin-top: 0px; }
#cv-photo { width: 172px; height: 172px; border-radius: 50%; overflow: hidden;
 padding: 5px; background: #eee; display: inline-block;}
#cv-photo img { width: 160px; height: 160px; border-radius: 50%; }
#cv-intro h1 { margin: 0; padding: 0; font-size: 2.4em; font-weight: 700;
 letter-spacing: -1px; }
#cv-intro h1 span { color: rgb(226,0,26); }